@charset "utf-8";

html {
	overflow-y:scroll;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display:block;
}
audio, canvas, video {
    display:inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
audio, canvas, img, video {
	vertical-align:middle;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img, fieldset {
	border:0;
}
input, select, textarea {
	line-height:1.2;
	vertical-align:middle;
}
body, table, th, td, input,
textarea, button, select {
	font-size:12px;
	color:#333;
}
button, select {
	text-transform:none;
}
button, input {
	line-height:normal;
}
textarea {
	resize:vertical;
	overflow:auto;
}
address, caption, cite, code,
dfn, em, var {
	font-style:normal;
	font-weight:normal;
}
label {
	cursor:pointer;
}
/* For Screen Reader */
legend {
	display:none;
	visibility:hidden;
}
/* For Screen Reader */
caption {
	display:none;
	visibility:hidden;
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}
a {
	color:#333;
	text-decoration:none;
}
a:active, a:hover, a:focus {
	text-decoration:none;
}
button{
	margin:0px;
	padding:0px;
	cursor:pointer;
	border:0px;
	background:none;
}
a:focus, button:focus{
	outline:none;
}

/* input 기본 스타일 초기화 */
input[type="text"],input[type="password"],input[type="file"],
select,
textarea{
   -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
input::-ms-clear,
select::-ms-expand{ display: none; }
textarea{resize:none;}
.card {background-color: #fff; box-shadow: 0px 2px 8px 0px #ccc; border-radius: 0px;}

.mt-20 {margin-top:20px;}
.cm-fl { float:left; }
.cm-fr { float:right; }
.cm-cb { clear:both; }
.cm-cf { clear:both; height:1px; }
.cm-pr { position:relative; }
.cm-pa { position:absolute; }
.cm-al { text-align:left !important; }
.cm-ac { text-align:center !important; }
.cm-ar { text-align:right !important; }
.cm-aj { text-align:justify !important; }
.cm-vt { vertical-align:top; }
.cm-vm { vertical-align:middle; }
.cm-vb { vertical-align:bottom; }
.clearfix{*zoom:1;}
.clearfix:after{clear:both; display:block; content:"";}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.trans200{-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
.trans300{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.trans400{-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s}
.trans500{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
.material-icons{vertical-align:middle;}
.text-ellipsis{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.table-layout{display:table; width:100%; height:100%; }
.table-cell-layout{display:table-cell; width:100%; height:100%; vertical-align:middle;}

.w30p {width:30%;}

.mc {display:none;}
.tc {display:none;}
.d-none {display:none !important;}
.d-inline-block {display: inline-block;}
.d-block {display: block;}
.d-inline {display:inline;}
.d-flex {display:flex;}
.d-flex-wrap {flex-wrap: wrap;}
.d-flex-jc {justify-content: center;}
.d-flex-sb {justify-content: space-between;;}
.d-flex-ai {align-items: center;}
.d-m-standard {width:1200px; margin:auto;}
.d-p-standard {width:1200px; padding:0 calc((100% - 1200px) / 2);}
.con {max-width:1200px; margin:auto;}
.d-h-full {height:100%;}
.d-w-full {width:100%;}
.flex-row {flex-direction:row;}
.flex-column {flex-direction:column;}
.t-center {text-align: center;}
.t-left {text-align: left;}
.t-right {text-align: right;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.f-size65 {font-size:65px;}
.f-size58 {font-size:58px;}
.f-size48 {font-size:48px;}
.f-size45 {font-size:45px;}
.f-size42 {font-size:42px;}
.f-size40 {font-size:40px;}
.f-size37 {font-size:37px;}
.f-size36 {font-size:36px;}
.f-size34 {font-size:34px;}
.f-size32 {font-size:32px;}
.f-size28 {font-size:28px;}
.f-size27 {font-size:27px;}
.f-size26 {font-size:26px;}
.f-size24 {font-size:24px;}
.f-size22 {font-size:22px;}
.f-size20 {font-size:20px;}
.f-size19 {font-size:19px;}
.f-size18 {font-size:18px;}
.f-size16 {font-size:16px;}
.f-size15 {font-size:15px;}
.f-size14 {font-size:14px;}
.f-size13 {font-size:13px;}
.f-size12 {font-size:12px;}
.f-size0 {font-size:0px;}

.f-weight-b {font-weight: bold;}
.f-weight-l {font-weight: lighter;}
.f-weight-n {font-weight: normal;}
.f100 {font-weight:100;}
.f200 {font-weight:200;}
.f300 {font-weight:300;}
.f400 {font-weight:400;}
.f500 {font-weight:500;}
.f600 {font-weight:600;}
.f700 {font-weight:700;}

.mb-auto {margin-bottom: auto;}
.mb-0 {margin-bottom:0px;}
.mb-5 {margin-bottom:5px;}
.mb-10 {margin-bottom:10px;}
.mb-15 {margin-bottom:15px;}
.mb-20 {margin-bottom:20px;}
.mb-25 {margin-bottom:25px;}
.mb-30 {margin-bottom:30px;}
.mb-35 {margin-bottom:35px;}
.mb-40 {margin-bottom:40px;}
.mb-50 {margin-bottom:50px;}
.mb-60 {margin-bottom:60px;}
.mb-65 {margin-bottom:65px;}
.mb-70 {margin-bottom:70px;}
.mb-80 {margin-bottom:80px;}
.mb-90 {margin-bottom:90px;}
.mb-100 {margin-bottom:100px;}

.mt-auto {margin-top:auto;}
.mt-0 {margin-top:0px;}
.mt-5 {margin-top:5px;}
.mt-10 {margin-top:10px;}
.mt-15 {margin-top:15px;}
.mt-20 {margin-top:20px;}
.mt-25 {margin-top:25px;}
.mt-30 {margin-top:30px;}
.mt-35 {margin-top:35px;}
.mt-40 {margin-top:40px;}
.mt-50 {margin-top:50px;}
.mt-60 {margin-top:60px;}
.mt-65 {margin-top:65px;}
.mt-70 {margin-top:70px;}
.mt-80 {margin-top:80px;}
.mt-90 {margin-top:90px;}
.mt-100 {margin-top:100px;}
.mt-200 {margin-top:200px;}
.mt-230 {margin-top:230px;}
.mt-600 {margin-top:45%;}
.mt--2 {margin-top:-2px;}
.mt--5 {margin-top:-5px;}
.mt--10 {margin-top:-10px;}

.ml-auto {margin-left:auto;}
.ml-0 {margin-left:0px;}
.ml-5 {margin-left:5px;}
.ml-10 {margin-left:10px;}
.ml-15 {margin-left:15px;}
.ml-20 {margin-left:20px;}
.ml-25 {margin-left:25px;}
.ml-30 {margin-left:30px;}
.ml-35 {margin-left:35px;}
.ml-40 {margin-left:40px;}
.ml-50 {margin-left:50px;}
.ml-60 {margin-left:60px;}
.ml-65 {margin-left:65px;}
.ml-70 {margin-left:70px;}
.ml-80 {margin-left:80px;}
.ml-90 {margin-left:90px;}
.ml-100 {margin-left:100px;}

.mr-auto {margin-right:auto;}
.mr-0 {margin-right:0px;}
.mr-5 {margin-right:5px;}
.mr-10 {margin-right:10px;}
.mr-15 {margin-right:15px;}
.mr-20 {margin-right:20px;}
.mr-25 {margin-right:25px;}
.mr-30 {margin-right:30px;}
.mr-35 {margin-right:35px;}
.mr-40 {margin-right:40px;}
.mr-50 {margin-right:50px;}
.mr-60 {margin-right:60px;}
.mr-65 {margin-right:65px;}
.mr-70 {margin-right:70px;}
.mr-80 {margin-right:80px;}
.mr-90 {margin-right:90px;}
.mr-100 {margin-right:100px;}


.padding0 {padding:0px;}
.padding5 {padding:5px;}
.padding10 {padding:10px;}
.padding15 {padding:15px;}
.padding20 {padding:20px;}
.padding25 {padding:25px;}
.padding30 {padding:30px;}
.padding35 {padding:35px;}
.padding40 {padding:40px;}
.padding50 {padding:50px;}
.padding60 {padding:60px;}
.padding65 {padding:65px;}
.padding70 {padding:70px;}
.padding80 {padding:80px;}
.padding90 {padding:90px;}
.padding100 {padding:100px;}

.pb-0 {padding-bottom:0px;}
.pb-5 {padding-bottom:5px;}
.pb-10 {padding-bottom:10px;}
.pb-15 {padding-bottom:15px;}
.pb-20 {padding-bottom:20px;}
.pb-25 {padding-bottom:25px;}
.pb-30 {padding-bottom:30px;}
.pb-35 {padding-bottom:35px;}
.pb-40 {padding-bottom:40px;}
.pb-50 {padding-bottom:50px;}
.pb-60 {padding-bottom:60px;}
.pb-65 {padding-bottom:65px;}
.pb-70 {padding-bottom:70px;}
.pb-80 {padding-bottom:80px;}
.pb-90 {padding-bottom:90px;}
.pb-100 {padding-bottom:100px;}

.pt-0 {padding-top:0px;}
.pt-5 {padding-top:5px;}
.pt-10 {padding-top:10px;}
.pt-15 {padding-top:15px;}
.pt-20 {padding-top:20px;}
.pt-25 {padding-top:25px;}
.pt-30 {padding-top:30px;}
.pt-35 {padding-top:35px;}
.pt-40 {padding-top:40px;}
.pt-50 {padding-top:50px;}
.pt-60 {padding-top:60px;}
.pt-65 {padding-top:65px;}
.pt-70 {padding-top:70px;}
.pt-80 {padding-top:80px;}
.pt-90 {padding-top:90px;}
.pt-100 {padding-top:100px;}

.pl-0 {padding-left:0px;}
.pl-5 {padding-left:5px;}
.pl-10 {padding-left:10px;}
.pl-15 {padding-left:15px;}
.pl-20 {padding-left:20px;}
.pl-25 {padding-left:25px;}
.pl-30 {padding-left:30px;}
.pl-35 {padding-left:35px;}
.pl-40 {padding-left:40px;}
.pl-50 {padding-left:50px;}
.pl-60 {padding-left:60px;}
.pl-65 {padding-left:65px;}
.pl-70 {padding-left:70px;}
.pl-80 {padding-left:80px;}
.pl-90 {padding-left:90px;}
.pl-100 {padding-left:100px;}

.pr-0 {padding-right:0px;}
.pr-5 {padding-right:5px;}
.pr-10 {padding-right:10px;}
.pr-15 {padding-right:15px;}
.pr-20 {padding-right:20px;}
.pr-25 {padding-right:25px;}
.pr-30 {padding-right:30px;}
.pr-35 {padding-right:35px;}
.pr-40 {padding-right:40px;}
.pr-50 {padding-right:50px;}
.pr-60 {padding-right:60px;}
.pr-65 {padding-right:65px;}
.pr-70 {padding-right:70px;}
.pr-80 {padding-right:80px;}
.pr-90 {padding-right:90px;}
.pr-100 {padding-right:100px;}

/*공백 */
.gap10 {height:10px;clear:both;overflow:hidden;display:block;}
.gap20 {height:20px;clear:both;overflow:hidden;display:block;}
.gap30 {height:30px;clear:both;overflow:hidden;display:block;}
.gap40 {height:40px;clear:both;overflow:hidden;display:block;}
.gap50 {height:50px;clear:both;overflow:hidden;display:block;}
.gap60 {height:60px;clear:both;overflow:hidden;display:block;}
.gap70 {height:70px;clear:both;overflow:hidden;display:block;}
.gap80 {height:80px;clear:both;overflow:hidden;display:block;}
.gap90 {height:90px;clear:both;overflow:hidden;display:block;}
.gap100 {height:100px;clear:both;overflow:hidden;display:block;}


@media(max-width:1200px) {
	.d-m-standard {width:90%; margin:auto;}
	/* .con{width:90%; margin:auto;} */
	.d-p-standard {width:90%; padding-left:5%; padding-right:5%;}
}
@media(max-width:1024px) {
	.mc {display:none; }
}
@media only screen and  (max-width:900px) {
	.gap10 {height:10px;}
	.gap20 {height:15px;}
	.gap30 {height:20px;}
	.gap40 {height:25px;}
	.gap50 {height:25px;}
	.gap60 {height:30px;}
	.gap100 {height:30px;}
	.gap {height:30px;}
	.sgap {height:20px;}
	.ssgap {height:15px;}
	.sssgap {height:10px;}
	.d-m-standard img {width:100%;}
	.pc {display:none; }
	.mc {display:block;}
}

@media(max-width:699px) {
	.f-size65 {font-size:58px;}
	.f-size58 {font-size:54px;}
	.f-size48 {font-size:40px;}
	.f-size45 {font-size:41px;}
	.f-size42 {font-size:38px;}
	.f-size40 {font-size:35px;}
	.f-size37 {font-size:33px;}
	.f-size36 {font-size:32px;}
	.f-size34 {font-size:30px;}
	.f-size32 {font-size:28px;}
	.f-size28 {font-size:24px;}
	.f-size27 {font-size:23px;}
	.f-size26 {font-size:22px;}
	.f-size24 {font-size:20px;}
	.f-size22 {font-size:18px;}
	.f-size20 {font-size:16px;}
	.f-size18 {font-size:15px;}
	.f-size16 {font-size:14px;}
	.f-size15 {font-size:13px;}
	.f-size14 {font-size:12px;}
	.f-size13 {font-size:11px;}
	.f-size12 {font-size:10px;}

}
